body {
	background-color: black;
}

#content-wrapper {
	min-width: 480px;
	margin: auto;
	float: none;
}

.wrapper {
	text-align: center;
	background-color: black;
	color: white;
	font-size: 28px;
}

h1, p {
	font-family: 'Nosifer', cursive;
	color: red;
	font-weight: 700;
	text-align: center;
}

#displayWord, #guessedLetters {
	letter-spacing: 1.1em;
	color: orange;
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 20px;
}

#hangImg {
	width: 100%;
}

#guessedLetters {
	letter-spacing: .3em;
	padding: 30px;
	color: white;
}

#incorrect{
	color: yellow;
	font-weight: 900;
}

#wins, #losses {
	font-size: 20px;
	font-weight: 500;
	width: 50%;
	margin: auto;
	color: #FDEB7A;
}
